.dashboard-card{
    &-first-type{
        &-item{
            display: flex;
            flex-direction: column;
            padding: 20px;
            height: 250px;
            width: 25%;
            border-radius: 8px;
            margin: 0 1%;
            background-color: white;
            transition: .5s;
            &:hover{
                transform: translateY(-3%);
            }
        }
        &-header{
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-container{
        display: flex;
        width: 100%;
    }
    &-title{
        font-weight: bold;
        font-size: 12px;
        opacity: .5;
        text-transform: uppercase;
    }
    &-icon{
        font-size: 40px;
        &-warning{
            color:red;
        }
        &-success{
            color: darkblue;
        }
        &-container{
            color: white;
            border-radius: 50%;
            padding: 6px 8px 4px 8px;
        }
    }
    &-statistic{
        font-size: 30px;
        font-weight: bold;
        height: 40%;
    }
    &-border{
        &-5e2a75{
            border: 1px solid #5e2a75;
        }
        &-1750c1{
            border: 1px solid #1750c1;
        }
        &-darkgreen{
            border: 1px solid darkgreen;
        }
        &-yellow{
            border: 1px solid yellow;
        }
    }
    &-background{
        &-5e2a75{
            background-color: #5e2a75;
        }
        &-1750c1{
            background-color: #1750c1;
        }
        &-darkgreen{
            background-color: darkgreen;
        }
        &-yellow{
            background-color: yellow;
            color: black;
        }
    }
    &-additional{
        &-container{
            display: flex;
            align-items: center;
            height: 10%;
        }
    }
}