.latest-section{
    &__container{
        display: flex;
        margin-left:40px;
    }
    &__subcontainer{
        background-color: white;
        margin: 0 1.5rem;
    }
    &__title{
        font-size: 24px;
        letter-spacing: .06rem;
        font-weight: bold;
    }
    &__dishes{
        &--wrapper{
            border-bottom: 1px solid #eee;
        }
        &__btn{
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            float: right;
            font-size: 14px;
            font-weight: bold;
            color: darkblue;
            padding: 20px 10px;
        }
    }
    &__dish-card{
        &__container{
            cursor: pointer;
            justify-content: space-between;
            display: flex;
            padding: 2rem 2rem;
            border-top: 1px solid #eee;
            transition: .3s;
            &:hover{
                background-color: #eee;
            }
        }
        &__thumbnail{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        &__content{
            width: 230px;
        }
    }
    &__order-card{
        &--bg{
            background-color: #ddd;
            font-weight: bold;
        }
        &__container{
            cursor: pointer;
            padding:1.5rem 2rem;
            display: flex;
            justify-content: space-between;
            transition: .3s;
            align-items: center;
            &:hover{
                background-color: #eee;
            }
        }
        &__ref-side{
            width: 20%;
        }
        &__name-side{
            width: 40%;
            margin-left:20px
        }
        &__date-side{
            width: 20%;
        }
        &__status-side{
            width: 18%;
            padding: 8px;
            text-align: center;
            margin-left: 10px;
            border-radius: 10px;
        }
    }
}