.top-navbar{
    &-container{
        padding: 1.2rem 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 1px;
        box-shadow: 0 0 1px 0;
        background-color: white;
        position: fixed;
        width: calc(100% - 270px);
        margin-left: 270px;
        justify-content: space-between;
    }
    &-right-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }
    &-search{
        &-area{
            display: flex;
        }
        &-input{
            padding: 5px 20px;
            border:1px solid #999;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-right: none;
            font-size: 15px;
            border-radius: 15px 0 0 15px;
            &:focus{
                outline: none;
            }
        }
        &-btn{
            background-color: transparent;
            border:1px solid #999;
            border-left: none;
            cursor: pointer;
            padding-right: 20px;
            border-radius: 0 15px 15px 0;
        }
    }
    &-notification{
        &-btn{
            opacity: .5;
            cursor: pointer;
        }
        &-section{
            display: flex;
        }
        &-announcement{
            border: 3px solid red;
            position: relative;
            right: 5px;
            border-radius: 50%;
            height: 0;
        }
        &-container{
            z-index: 100;
            height: 450px;
            background-color: white;
            box-shadow: 0 0 2px 0;
            position: absolute;
            width: 300px;
            left: 50%;
            transform: translateX(-50%);
            padding: .5rem 1rem;
            color: #555;
            border-radius: 5px;
            overflow-y: auto;
            &::-webkit-scrollbar{
                width: 6px;
            }
            &::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 6px #999;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px #888;
            }   
        }
        &-tag{
            &-container{
                margin: 10px 0;
                display: flex;
            }
            &-item{
                margin-right: 5px;
                padding: 4px 8px;
                border: 1px solid #555;
                border-radius: 20px;
                transition: .2s;
                cursor: pointer;
                &:hover{
                    background-color: #eee;
                }
            }
        }
    }
    &-user{
        &-section{
            display: flex;
            flex-direction: column;
            align-items:center;
            position: relative;
            justify-content: center;
        }
        &-avatar{
            background-image: url('../../public/assets/no_user.jpg');
            width: 30px;
            height: 30px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
        &-username{
            font-size: 14px;
        }
        &-dropdown{
            &-container{
                z-index: 100;
                background-color: white;
                box-shadow: 0 0 2px 0;
                position: absolute;
                width: 100px;
                left: 50%;
                top: 50%;
                padding:3px;
                padding-top: 5px;
                transform: translate(-50%,22%);
                color: #555;
                border-radius: 5px;
            }
            &-tag{
                display: flex;
                padding: 10px;
                justify-content: space-between;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    background-color: #eee;
                }
            }
        }
    }
    &-section{
        &-title{
            font-size: 20px;
            font-weight: bold;
        }
        &-subtitle{
            font-size: 15px;
            font-weight: bold;
        }
    }
}