.navbar{
    &-container{
        color:white;
        background-color: darkslateblue;
        width: 200px;
        height: 100vh;
        overflow-y: scroll;
        padding: 20px;
    }
    &-item{
        &>div{
            display: flex;
            align-items: center;
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #999;
        &-icon{
            margin-right:10px;
            &-dropdown{
                font-size: 13px;
            }
        }
    }
    &-logo{
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &-subitem{
        &-container{
            transition: .6s;
        }
        &-item{
            height: 100%;
            display: flex;
            padding-left: 1.6rem;
            margin: .5rem 0;
            font-size: 14px;
            transition: .6s;
        }
    }
}