@import './bootstrap.scss';
@import './layouts/layout.scss';
@import './dashboard/dashboard.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  display: flex;
  width: 100%;
}

.page-container{
  width: 100%;
  padding: 87.4px 1.5rem 2rem 270px;
  background-color: #F9FAFC;
}